<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Grown</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jass.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>

  <!-- HEADER -->

  <main>
    {{#each posts as |post|}}
    {{> post-details}}
    {{/each}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</html>