
<section class="container flex-row justify-center">
  <h3 class="gallery-name">{{gallery.name}}</h3>
  <h4>Bloom Time Start: {{format_time gallery.starting_date}}</h4>
  <h4>Bloom Time End: {{format_time gallery.ending_date}}</h4>
  <h4><i>**Disclaimer** </br>  Please Use your own Average Last Spring Frost Date to determine approximate planting and harvesting
      times. The above is a suggestion.</i></h4>
  <section class="plant-gallery-card" >
    {{#each gallery.plants as |plant|}}
    {{> plant-details}}
    {{/each}}
  </section>

</section>