/* Just including this for the purpose of testing the performance and layout. We will need to update this later once the site is up and running properly */

:root {
  --primary: #53A65F;
  --secondary: #84BF8D;
  --tertiary: #DEF2C9;
  /* --quatrinary: #6c6b67; */
  --light: #89D6AA;
  --dark: #2C402F;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: 'Amatic SC', cursive;
  font-family: 'BIZ UDPGothic', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited, a:active, a:active, a:link{
  color: inherit;
  text-decoration: none;
}


/* header styling  */


header {
  font-family: 'BIZ UDPGothic', sans-serif;
  padding: 20px 35px;
  background-color: #D5F2EA;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("rm422-047.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;

}

header h1 {
  font-family: 'Amatic SC', cursive;
  /* font-weight: bold; */
  margin: 0;
  font-size: 36px;
  color: #3C9664;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

/* Hero Style Start */
.hero {
  font-family: 'Amatic SC';
  background-color: #D5F2EA;
  background-image: url("rm422-047.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;

}

/* Hero Style End */

/* hero-cta start */
.hero-cta {
  width: 35%;
  text-align: center;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
}

.hero-cta h2 {
  font-size: 75px;
  font-style: italic;
  color: #39806C;
  text-shadow: 2px 2px 0px #edf2eb, 4px 4px 0px rgb(0 0 0 / 25%);
}

.hero-cta p {
  font-weight: bolder;
  font-size: 35px;
  color: #224D41;
  text-shadow: 2px 2px 0px #edf2eb, 4px 4px 0px rgb(0 0 0 / 25%);
}

/* hero-cta end */



main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: center;
  color: var(--light);
}


/*start nav style */

header nav {
  font-family: 'Amatic SC';
  margin: 7px 0;
}

header nav ul,
#logout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: #3C9664;

}

/* button styling */


header nav ul li a,
#logout {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 36px;
  /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
  border-radius: 15px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

}

header nav ul li a:hover,
#logout:hover {
  background: #53A65F;
  color: #EDF2EB;
  border-radius: 15px;
  text-shadow: none;
  text-decoration: none;
  /*    transition: .5s ease-in;*/
}

/*end nav style */




.gallery {
  flex: 4;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.btn-no-style {
  font-family: 'Amatic SC';
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  /* margin-left: 16px; */
}

#shop-text {
  width: 100%;
  font-size: 22px;
}
#shop-title{
  font-size: 15px;
  font-weight: bolder;

}
#shop-details{
  font-size: 12px;
  font-style: italic;
}



/*images */
img {
  max-width: 100%;
  height: auto;
}

.plant {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.product-block {
  display: block;
    max-width: 100%;
    height: auto;
}


.plant-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: #DEF2C9;
  color: #89d6aa;
  justify-content: center;
}

.plant-gallery-card {
  width: 100%;
  flex: 2;
  background-color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card h3 {
  font-family: 'Amatic SC';
  font-size: 1.5em;
  text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2),
    0px -5px 10px rgba(255, 255, 255, 0.15);
  color: #39806C;
  font-weight: bold;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  text-align: center;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.gallery-name {
  /* text-transform: uppercase; */
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}


/* FOOTER */

#footer {
  color: #39806C;
  font-size: 1.0em;
  padding: 30px;
  font-family: 'Amatic SC';
  background-color: #84BF8D;
  text-align: center;
  text-shadow: 2px 2px 0px #edf2eb, 4px 4px 0px rgb(0 0 0 / 15%);
}